@import 'src/style.scss';

//break-point : 660px
.home{
    width:100%;
    height: 100vh;
    padding-right:3rem;
    display: flex;
    position: relative;
    .text{
        h1{
            // font-size: 48px;
            font-size: calc(14px + (48 - 14) * ((100vw - 300px) / (1600 - 300)));
        }
        width: 35%;
        height: 100%;
        @include center(column);
        align-items: flex-start;
        position: relative;
        z-index: 100;
        padding-left: 1rem;
    }
    .btn-home{
        margin-top: 3rem;
        @include center(row);
        align-items: flex-start;
        width: 100%;
        img{
            width: 50px;
            // height: auto;
            height: fit-content;
            margin-top: 0.5rem;
            margin-left: 2rem;
        }
    }
    .img{
        position: fixed;
        background-size: cover;
        background-position: center;
    }
}
.interior-container{
    width: 65%;
    height: 100%;
    @include center(row);
    justify-content: space-between;
    margin-left: 1rem;
    .img-hover{
        width: 30%;
        height: 80%;
        position: relative;
        
        .hover{
            width: 100%;
            height: 100%;
            position: relative;
            z-index:  21;
            cursor: pointer;
            // background: red;
        }
    }

}
.go{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    // background: red;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    transform: translate(-50%, -50%);
    @include center(row);
    img{
        width: 60%;
    }

}
@media only screen and (max-width: 600px) {
.home{
        flex-direction: column;
        .text{
            // background: red;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: 100vw;
            height: 50%;
            padding-bottom: 3rem;

            h1{
                font-size: calc(34px + (180 - 34) * ((100vw - 320px) / (1600 - 320)));
            }
            .btn-home{
                // width: 100%;
                justify-content: flex-end;
                margin-top: 1rem;
                padding-right: 2rem;
            }
        }
        .interior-container{
            width: 100%;
            height: 50%;
            .img-hover{
                height: 100%;
            }
            margin-left:1.5rem;
            padding-bottom: 1rem;
        }
    }
}